#top-banner {
  height: 40px;
  background: #000000;
}
/*.row { 
  border:1px solid red ; 
}*/

a {
  font-family: 'Oxygen', sans-serif;
}

#aveda-logo {

}

#top-banner .button {
  margin-top: 5px;
  height: 30px;
  padding-top: 7px;
  font-size: 10px;

}

h3, h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

#header {
  height: 800px;
  background-image: url("../assets/header.png");
  background-size: cover;
}

#header-body {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

#header-body-innertext {
  padding: 30px;
  border: 1px solid black;
}

#box-profits {
  background-color: #d3cec5;
  padding: 30px
}

#box-info {
  background-color: #000000;
  padding: 30px
}

#header-body-innertext h1 {
  font-size: 4rem
}